@mixin spacepad-side($value) {
	padding-left: $value;
	padding-right: $value;
}

@mixin spacemar-side($value) {
	padding-left: $value;
	padding-right: $value;
}

@mixin spacepad($value) {
	padding-top: $value;
	padding-bottom: $value;
}

@mixin spacemar($value) {
	padding-top: $value;
	padding-bottom: $value;
}

.bold {
	font-weight: 700;
}