@mixin spacepad-side($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin spacemar-side($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin spacepad($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin spacemar($value) {
    margin-top: $value;
    margin-bottom: $value;
}

.bold {
    font-weight: 700;
}

ul.nodots {
    padding-left: 0;
    li {
        list-style-type: none !important;
    }
}

.border-divider {
    border-top: 1px solid #ddd; 
}