#chart-account-lists {
    .account-type {
        text-transform: capitalize;
    }
    td {
        vertical-align: middle;
    }
}

.react-bs-table {
    .table > thead > tr > th,
    .table > tbody > tr > td {
        padding: 8px 0;
    }
    table.table {
        margin-bottom: 0;
    }
}
.react-bs-table-tool-bar .row div:nth-child(1) .btn-group {
    display: none;
}

.react-bs-table-tool-bar .row div:nth-child(2) {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include spacemar-side(16px);
    @include spacepad(8px);
    .react-bs-table-search-form {
        margin-bottom: 0;
    }
    input {
        border: none;
        box-shadow: none;
        font-size: 1em;
    }
}

.react-bs-table-pagination {
    .dropdown {
        display: none;
    }
}
