.side-navigation {
    padding: 1em;
    background: #eee;
    border-right: 1px solid #ddd;
    height: 100%;
}

.side-navigation header {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    @include spacepad(1em) > * {
        @include spacepad-side(5px);
        cursor: pointer;
        display: block;
    }
    > *:first-child {
        flex-grow: 2;
    }
    > *:not(:first-child) {
        flex-grow: 1;
        text-align: right;
    }
}

.side-navigation .sidenav-menu {
    @include spacepad(16px);
}
.side-navigation .sidenav-menu-list {
    @include flexbox;
    @include align-items(center);
    cursor: pointer;
    border-radius: 5px;

    > i.fa {
        width: 40px;
    }

    > * {
        padding: 8px;
    }

    &:hover {
        background-color: $brand-primary;
        color: #fff;
    }
}

.side-navigation .sidenav-quickaccess {
    @include spacepad-side(8px);

    li {
        font-size: 1.1em;
        @include spacepad(4px);
    }
}