
html,
body {
    height: 100%;
    transition: .2s;
}

@for $i from 1 through 6 {
	h#{$i} {
		margin-top: 0;
		margin-bottom: 0;
	}
}

a.btn {
	padding-left: 15px;
	padding-right: 15px;
	width: 120px;
	margin-left: 15px;
	margin-right: 15px;
}