/** base site styling **/

html,
html > * {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

html,
body {
    transition: .2s;
    font-size: 16px;

    // @media screen and (max-width: 992px) {
    // 	font-size: 14px;
    // }

}

html,
body,
#app,
.page {
    height: 100%;
    min-height: 100%;
}

// remove margin top and bottom from all heading tag
@for $i from 1 through 6 {
	h#{$i} {
		margin-top: 0;
		margin-bottom: 0;
	}
}
// remove margin bottom default value
p {
	margin-bottom: 0;
}